@font-face {
    font-family: 'DB Helvethaica X';
    src: url('font/sukhumvitset-text-webfont.eot');
    src: url('font/sukhumvitset-text-webfont.eot?#iefix') format('embedded-opentype'), url('font/sukhumvitset-text-webfont.woff2') format('woff2'), url('font/sukhumvitset-text-webfont.woff') format('woff'), url('fonts/DB Helvethaica X v3.2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
